/**
 * @file
 * Variables etc.
 */

$color-blue-dark: #090423;
$color-pink: #bd1857;

$body-bg-color: black;
$text-color: white;

$font-family-serif: 'Shrikhand', cursive;
$font-family-sans-serif: 'museo-sans', sans-serif;
