/**
 * @file
 * Buttons.
 */

%btn {
  transition: color .25s ease-in-out, background-color .25s ease-in-out;

  &:hover {
    color: black;
    background-color: $color-pink;
  }
}

%btn-inverse {
  &:hover {
    color: black;
    background-color: white;
  }
}
