@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --brand-primary: #85231e;
  --brand-secondary: #3696c9;
  --brand-text-base: #1d1d1b;
  --brand-text-light: #a1bbcc;
}

body {
  font-family: 'PT Sans', sans-serif;
  color: var(--brand-text-base);
  font-size: 20px;
}

dd,
blockquote {
  margin: 0;
}

p,
h1,
h2,
h3,
figure {
  margin: 0 0 1rem;
}

h2 {
  margin: 0 0 1rem;
}

section {
  break-inside: avoid;
  margin: 0 0 2rem;
}

.c-skill {
  display: grid;
  grid-template-columns: 30% 60%;
  grid-gap: 1rem;
}

.c-skill :nth-child(2n+1) {
  text-align: right;
}

.l-container {
  max-width: 1400px;
  padding: 2rem;
  margin: auto;
}

@media only screen and (min-width: 1280px) {
  .l-columns {
    columns: 2;
    column-gap: 2rem;
  }
}

.c-title__primary {
  text-align: right;
}

.l-grid {
  display: grid;
  grid-template-columns: 30% 70%;
}

.l-grid--gap {
  gap: 0 1rem;
}

.l-grid--secondary {
  grid-template-columns: 100px auto;
}

.l-grid-item-span-full,
.l-grid-item-span {
  grid-column: 1 / -1;
}

.l-grid-item-first {
  grid-column: 2;
}

.l-grid-item-second {
  grid-column: 2;
}

.t-heading-1 {
  color: var(--brand-primary);
  font-size: 3rem;
  font-weight: bold;
}

.t-heading-2 {
  color: var(--brand-secondary);
  font-size: 3rem;
  font-weight: bold;
}

.t-heading-3 {
  color: var(--brand-primary);
  font-size: 1.6rem;
  font-weight: bold;
}

.t-heading-4 {
  color: var(--brand-secondary);
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.t-heading-5 {
  color: var(--brand-text-light);
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.t-heading-6 {
  color: var(--brand-text-light);
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
}

.t-uppercase {
  text-transform: uppercase;
}

.c-row {
  margin: 0 0 .5rem;
}