/**
 * @file
 * Layout.
 */

/* Global layout "styles". */
.layout-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.layout-fix-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Global elements. */
.layout-brand {
  position: absolute;
  top: 20px;
  left: $layout-gutter-width/2;
}

@include tablet {
  .layout-brand {
    position: fixed;
    top: $layout-gutter-width/2;
  }
}

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $layout-vpad-xsmall $layout-gutter-width/2;
  pointer-events: none;
}

.layout-toggle {
  position: fixed;
  top: $layout-vpad-xsmall;
  right: $layout-gutter-width/2;
}

.layout-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  > .layout-page-inner {
    padding: 45px 0;

    @include tablet {
      padding: 95px 0;
    }
  }
}

/* Z-index setters. */
.layout-ui-top {
  z-index: $z-index-ui + 1;
}

.layout-ui {
  z-index: $z-index-ui;
}

@include breakpoint-min($screen-sm-min) {
  .layout-ui-md {
    z-index: $z-index-ui;
  }
}

.layout-ui-bottom {
  z-index: ($z-index-ui - 1);
}

.layout-bg {
  z-index: $z-index-bg;
}

/* Grid. */
.layout-container {
  max-width: $page-max-width;
  margin: 0 auto;
}

.layout-cols-1 {
  > .layout-col {
    clear: left;
  }
}

.layout-cols-2 {
  > .layout-col {
    clear: left;
  }
}
