/**
 * @file
 * Layout.
 */

.layout-outer-wrapper {
  padding-top: 100px;
}

@include breakpoint-min($screen-sm-min) {
  .layout-outer-wrapper {
    padding-top: 140px;
  }
}

@include breakpoint-min($screen-md-min) {
  .layout-outer-wrapper {
    padding-top: 180px;
  }
}

.layout-brand {
  position: fixed;
  top: $layout-gutter-width-sm/2;
  left: $layout-gutter-width-sm/2;
}

@include breakpoint-min($screen-sm-min) {
  .layout-brand {
    top: $layout-gutter-width-md/2;
    left: $layout-gutter-width-md/2;
  }
}

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: $layout-vpad-xsmall $layout-gutter-width-sm/2;
  pointer-events: none;
}

@include breakpoint-min($screen-sm-min) {
  .layout-footer {
    padding: $layout-gutter-width-md/2;
  }
}

.layout-ui-top {
  z-index: $z-index-ui + 1;
}

.layout-ui {
  z-index: $z-index-ui;
}

@include breakpoint-min($screen-sm-min) {
  .layout-ui-md {
    z-index: $z-index-ui;
  }
}

.layout-ui-bottom {
  z-index: ($z-index-ui - 1);
}

.layout-bg {
  z-index: $z-index-bg;
}

.layout-toggle {
  position: fixed;
  top: $layout-vpad-xsmall;
  right: $layout-gutter-width-sm/2;
}

@include breakpoint-min($screen-sm-min) {
  .layout-toggle {
    top: $layout-vpad-small;
    right: $layout-gutter-width-md/2;
  }
}

@include breakpoint-min($screen-md-min) {
  .layout-toggle {
    top: $layout-gutter-width-md/2;
    right: $layout-gutter-width-md/2;
  }
}

.layout-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.layout-container {
  @include zen-grid-container();
  max-width: $page-max-width;
  margin: 0 auto;
}

.layout-col-single {
  @include zen-grid-item(20, 3);
}

@include breakpoint-min($screen-sm-min) {
  .layout-col-single {
    @include zen-grid-item(18, 4);
  }
}

@include breakpoint-min($screen-md-min) {
  .layout-col-single {
    @include zen-grid-item(12, 7);
  }
}

.layout-col-double {
  @include zen-grid-item(20, 3);
  clear: left;
}

@include breakpoint-min($screen-sm-min) {
  .layout-col-double {
    @include zen-grid-item(16, 5);
    clear: left;
  }
}

@include breakpoint-min($screen-md-min) {
  .layout-col-double {
    clear: none;

    &:nth-child(2n+1) {
      @include zen-grid-item(9, 4);
    }

    &:nth-child(2n+2) {
      @include zen-grid-item(9, 13);
    }
  }
}

@include breakpoint-min($screen-lg-min) {
  .layout-col-double {
    clear: none;

    &:nth-child(2n+1) {
      @include zen-grid-item(10, 3);
    }

    &:nth-child(2n+2) {
      @include zen-grid-item(10, 13);
    }
  }
}
