/**
 * @file
 * Variables etc.
 */

$assets-path: '..';

$page-max-width: 1438px;

$screen-sm-min: 640px;
$screen-md-min: 1024px;

$layout-gutter-width-sm: 50px;
$layout-gutter-width-md: 100px;
$layout-gutter-width: $layout-gutter-width-sm;

$layout-vpad-large: 60px;
$layout-vpad-base: 40px;
$layout-vpad-small: 25px;
$layout-vpad-xsmall: 15px;

$layout-hpad-large: 80px;
$layout-hpad-base: 50px;
$layout-hpad-small: 25px;

$color-blue-dark: #090423;
$color-pink: #bd1857;

$body-bg-color: $color-blue-dark;
$text-color: white;
$body-line-height: 1.2;

$font-family-serif: 'Shrikhand', cursive;
$font-family-sans-serif: 'museo-sans', sans-serif;

$font-size-base: 18px;
$font-size-small: 14px;
$font-size-1: 3.94rem; // 77px
$font-size-1-5: 3.33rem; // 60px
$font-size-2: 2.66rem; // 48px
$font-size-3: 1.33rem; // 24px
$font-size-4: 1.11rem; // 20px
$font-size-5: 1rem; // 18px
$font-size-6: .77rem; // 14px

$font-size-h1: $font-size-1; // 71px
$font-size-h2: $font-size-3; // 24px
$font-size-h3: $font-size-4; // 20px
$font-size-h4: $font-size-5; // 18px
$font-size-h5: $font-size-6; // 14px

$z-index-ui: 10;
$z-index-bg: -1;

$nav-toggle-diameter-sm: 35px;
$nav-toggle-diameter-md: 68px;

$toggle-bar-width-sm: 16px;
$toggle-bar-border-radius-sm: 2px;
$toggle-bar-border-width-sm: 4px;

$toggle-bar-width-md: 29px;
$toggle-bar-border-radius-md: 3.5px;
$toggle-bar-border-width-md: 7px;

$toggle-bar-width: 29px;
$toggle-bar-border-radius: 3.5px;
$toggle-bar-border-width: 7px;
