/**
 * @file
 * Variables etc.
 */

$assets-path: '..';

$page-max-width: 1320px;

$screen-sm-min: 640px;
$screen-md-min: 1024px;
$screen-lg-min: 1920px;

$layout-gutter-width: 55px;
$column-gap: $layout-gutter-width / 2;

$layout-vpad-large: 45px;
$layout-vpad-base: 30px;
$layout-vpad-small: 25px;
$layout-vpad-xsmall: 15px;
$layout-vpad-xxsmall: 10px;

$layout-hpad-large: 80px;
$layout-hpad-base: 50px;
$layout-hpad-small: 25px;

$color-blue-dark: #090423;
$color-pink: #bd1857;
$color-pink-highlight: #de2483;
$color-red: #ff0000;
$color-red-highlight: #e60000;
$color-red-muted: #cd0000;

$body-bg-color: $color-blue-dark;
$text-color: white;
$body-line-height: 1.2;

$text-shadow-distance: .074em;

$font-family-serif: 'Shrikhand', cursive;
$font-family-sans-serif: 'museo-sans', sans-serif;

$font-size-base: 18px;

$z-index-ui: 10;
$z-index-bg: -1;

$nav-toggle-diameter-sm: 35px;
$nav-toggle-diameter-md: 68px;

$toggle-bar-width-sm: 16px;
$toggle-bar-border-radius-sm: 2px;
$toggle-bar-border-width-sm: 4px;

$toggle-bar-width-md: 29px;
$toggle-bar-border-radius-md: 3.5px;
$toggle-bar-border-width-md: 7px;

$toggle-bar-width: 29px;
$toggle-bar-border-radius: 3.5px;
$toggle-bar-border-width: 7px;
