/**
 * @file
 * Styles.
 */
/* Settings. */
/**
 * @file
 * Variables etc.
 */
/**
 * @file
 * Zen Grids.
 */
/* Mixins. */
/**
 * @file
 * Mixins.scss
 */
/* Set styles for inclusion only above a screen size. */
/* Set styles for inclusion only below a screen size. */
/**
 * @file
 * Responsive utility classes.
 */
.hidden-xs {
  display: none; }
  @media screen and (min-width: 640px) {
    .hidden-xs {
      display: block; } }

/**
 * @file
 * Nav-toggle mixins
 */
/* Generate styles for a set of toggle bars. */
/* Base. */
/**
 * @file
 * Base.
 */
html {
  height: 100%;
  font-size: 14px;
  font-family: "museo-sans", sans-serif; }

@media screen and (min-width: 640px) {
  html {
    font-size: 18px; } }

body {
  background-color: #090423;
  min-height: 100%;
  line-height: 1.2;
  margin: 0 0 40px;
  -webkit-font-smoothing: antialiased;
  color: white; }

@media screen and (min-width: 640px) {
  body {
    margin: 0 0 120px; } }

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.5rem;
  text-shadow: 4px 4px #bd1857;
  margin-top: 0; }

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.66rem; } }

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.66rem; } }

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 3.94rem; } }

h2 {
  font-family: "museo-sans", sans-serif;
  font-size: 1.33rem;
  font-weight: normal; }

h3 {
  font-family: "museo-sans", sans-serif;
  font-size: 1.11rem;
  font-weight: normal; }
  h3 > a {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
    h3 > a:hover {
      text-decoration: none; }
    h3 > a::after {
      content: none; }

a {
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #bd1857; }
  a:hover::after {
    background-color: transparent; }

figure {
  max-width: 100%;
  float: none;
  margin: 25px 0; }
  figure img {
    max-width: 100%; }
  figure figcaption {
    font-size: 0.77rem; }

@media screen and (min-width: 1024px) {
  figure {
    margin: 25px 50px 40px -50%;
    float: left; } }

@media screen and (min-width: 1920px) {
  figure {
    margin-left: -75%; } }

p {
  margin: 25px 0; }

li {
  font-size: 1rem;
  margin: 25px 0; }

blockquote {
  margin: 25px 0;
  padding: 0 25px;
  border-left: 5px solid white;
  font-size: 1rem; }
  blockquote > footer::before {
    content: '\2014 \00A0'; }

@media screen and (min-width: 640px) {
  blockquote {
    margin: 25px 0;
    padding: 0 50px;
    border-left: 5px solid white;
    font-size: 0.77rem; } }

fieldset {
  margin: 25px 0;
  padding: 0;
  border: 0; }

input,
textarea,
button {
  font-family: "museo-sans", sans-serif;
  font-size: 18px;
  color: #bd1857;
  background-color: white;
  border: 0; }

input,
textarea {
  padding: 15px;
  box-shadow: 4px 4px #bd1857; }

input[type='text'], input[type='email'], input[type='tel'] {
  width: 50%; }

input[type='url'] {
  width: 75%; }

textarea {
  width: 100%; }

address {
  font-style: normal;
  margin: 0;
  font-weight: bold; }

/* Layout. */
/**
 * @file
 * Layout.
 */
.layout-outer-wrapper {
  padding-top: 100px; }

@media screen and (min-width: 640px) {
  .layout-outer-wrapper {
    padding-top: 140px; } }

@media screen and (min-width: 1024px) {
  .layout-outer-wrapper {
    padding-top: 180px; } }

.layout-brand {
  position: fixed;
  top: 25px;
  left: 25px; }

@media screen and (min-width: 640px) {
  .layout-brand {
    top: 50px;
    left: 50px; } }

.layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 25px;
  pointer-events: none; }

@media screen and (min-width: 640px) {
  .layout-footer {
    padding: 50px; } }

.layout-ui-top {
  z-index: 11; }

.layout-ui {
  z-index: 10; }

@media screen and (min-width: 640px) {
  .layout-ui-md {
    z-index: 10; } }

.layout-ui-bottom {
  z-index: 9; }

.layout-bg {
  z-index: -1; }

.layout-toggle {
  position: fixed;
  top: 15px;
  right: 25px; }

@media screen and (min-width: 640px) {
  .layout-toggle {
    top: 25px;
    right: 50px; } }

@media screen and (min-width: 1024px) {
  .layout-toggle {
    top: 50px;
    right: 50px; } }

.layout-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; }

.layout-container {
  max-width: 1438px;
  margin: 0 auto; }
  .layout-container:before {
    content: "";
    display: table; }
  .layout-container:after {
    content: "";
    display: table;
    clear: both; }

.layout-col-single {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -100%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box; }

@media screen and (min-width: 640px) {
  .layout-col-single {
    float: left;
    width: 75%;
    margin-left: 12.5%;
    margin-right: -100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; } }

@media screen and (min-width: 1024px) {
  .layout-col-single {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; } }

.layout-col-double {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -100%;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  clear: left; }

@media screen and (min-width: 640px) {
  .layout-col-double {
    float: left;
    width: 66.66667%;
    margin-left: 16.66667%;
    margin-right: -100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    clear: left; } }

@media screen and (min-width: 1024px) {
  .layout-col-double {
    float: left;
    width: 58.33333%;
    margin-left: 20.83333%;
    margin-right: -100%;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box; } }

@media screen and (min-width: 1920px) {
  .layout-col-double {
    clear: none; }
    .layout-col-double:nth-child(2n+1) {
      float: left;
      width: 41.66667%;
      margin-left: 8.33333%;
      margin-right: -100%;
      padding-left: 25px;
      padding-right: 25px;
      box-sizing: border-box; }
    .layout-col-double:nth-child(2n+2) {
      float: left;
      width: 41.66667%;
      margin-left: 50%;
      margin-right: -100%;
      padding-left: 25px;
      padding-right: 25px;
      box-sizing: border-box; } }

/* Theme. */
/**
 * @file
 * Figure.
 */
/**
 * @file
 * Lead.
 */
.hidden {
  display: none; }

/**
 * @file
 * Typography.
 */
.lead {
  font-size: 1.2rem; }

@media screen and (min-width: 1920px) {
  .lead {
    font-size: 1.33rem; } }

.text-center {
  text-align: center; }

@media screen and (max-width: 1023px) {
  .text-center-max-md {
    text-align: center; } }

@media screen and (max-width: 1919px) {
  .text-center-max-lg {
    text-align: center; } }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

@media screen and (min-width: 1024px) {
  .text-right-min-md {
    text-align: right; } }

@media screen and (min-width: 1920px) {
  .text-right-min-lg {
    text-align: right; } }

.field-type-text-with-summary a {
  display: inline;
  text-decoration: underline;
  -webkit-text-decoration-color: #bd1857;
  text-decoration-color: #bd1857; }
  .field-type-text-with-summary a:hover {
    text-decoration: none; }
  .field-type-text-with-summary a::after {
    content: none; }

/**
 * @file
 * Heading.
 */
h1.secondary {
  font-size: 3.33rem; }

/**
 * @file
 * Brand.scss
 */
.brand {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  margin-right: -2px; }

@media screen and (min-width: 640px) {
  .brand {
    font-size: 1.5rem; } }

/**
 * @file
 * Bg style.
 */
.bg-shadow.bg-left {
  display: none; }

@media screen and (min-width: 640px) {
  .bg-highlight {
    fill: #bd1857; }
  .bg-shadow {
    fill: black;
    display: inline; } }

/**
 * @file
 * Article styles.
 */
.article-list {
  margin: 40px 0; }
  .article-list > header {
    margin: 0 0 25px; }
  .article-list > footer {
    margin: 40px 0 0; }
    .article-list > footer a {
      font-size: 1rem; }

@media screen and (min-width: 640px) {
  .article-list {
    margin: 60px 25px; }
    .article-list > header {
      margin: 0 0 40px; } }

@media screen and (min-width: 1024px) {
  .article-list {
    margin: 60px 25px; }
    .article-list > header {
      margin: 0 0 40px; } }

.article-teaser {
  margin-bottom: 40px; }
  .article-teaser-header, .article-teaser-main, .article-teaser-footer {
    margin: 15px 0; }
  .article-teaser-footer {
    font-size: 0.77rem; }

@breakpoint-min ($screen-sm-min) {
  .article-teaser-header, .article-teaser-main, .article-teaser-footer {
    margin: 25px 0; } }

/**
 * @file
 * Page styles.
 */
.page-preface {
  font-size: 0.77rem; }
  .page-preface .field {
    margin: 5px 0; }

.page-header::after, .page-footer::after {
  content: '';
  display: block;
  position: fixed; }

.page-header::after {
  top: 0;
  left: 0;
  right: 0;
  height: 62px;
  background: linear-gradient(rgba(9, 4, 35, 0.5) 95%, rgba(9, 4, 35, 0) 100%); }

.page-footer::after {
  bottom: 0;
  left: 0;
  right: 0;
  height: 62px;
  background: linear-gradient(rgba(9, 4, 35, 0) 0%, rgba(9, 4, 35, 0.5) 5%);
  z-index: -1; }

@media screen and (min-width: 640px) {
  .page-header::after, .page-footer::after {
    content: none; } }

/**
 * @file
 * List styles.
 */
.nav ul,
.nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .nav ul li, .nav ol li {
    margin: 0;
    padding: 0; }

.nav-breadcrumb ol, .nav-social ul, .nav-local-tasks ul {
  font-size: 0; }
  .nav-breadcrumb ol li, .nav-social ul li, .nav-local-tasks ul li {
    font-size: 1rem;
    display: inline-block; }

/**
 * @file
 * Navs.
 */
.nav ul,
.nav ol {
  pointer-events: all; }

.nav-breadcrumb {
  display: inline-block; }
  .nav-breadcrumb ol > li {
    vertical-align: baseline;
    font-size: .77rem;
    margin-left: 10px; }
    .nav-breadcrumb ol > li a::after {
      content: none; }
    .nav-breadcrumb ol > li::before {
      content: '>';
      margin-right: 10px; }

.nav-main {
  -webkit-clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  background-color: #bd1857; }
  .nav-main ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    .nav-main ul li {
      line-height: 1.2;
      margin: 15px 0; }
      .nav-main ul li a {
        font-size: 2.66rem;
        font-family: "Shrikhand", cursive; }

@media screen and (min-width: 640px) {
  .nav-main {
    -webkit-clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%); } }

.nav-page ul li {
  margin: 0 10px; }
  .nav-page ul li a {
    font-family: "Shrikhand", cursive;
    font-size: 1rem; }
    .nav-page ul li a::after {
      bottom: 0;
      height: 4px; }

@media screen and (min-width: 640px) {
  .nav-page {
    margin: 25px 0; }
    .nav-page ul {
      font-size: 0; }
      .nav-page ul li {
        margin: 0 22px;
        font-size: 1rem;
        display: inline-block; }
        .nav-page ul li a {
          font-size: 1.33rem; } }

.nav-social ul {
  display: inline-block; }
  .nav-social ul li {
    margin: 0 6px; }
    .nav-social ul li:first-child {
      margin-left: 0; }
    .nav-social ul li:last-child {
      margin-right: 0; }

@media screen and (min-width: 640px) {
  .nav-social ul li {
    margin: 0 12px; } }

.nav-local-tasks ul {
  display: inline-block; }
  .nav-local-tasks ul > li > a::after {
    content: none; }

/**
 * @file
 * Nav toggle button.
 */
.nav-local-tasks ul > li > a, .btn, .nav-toggle {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
  outline: none; }

.nav-local-tasks ul > li > a, .btn {
  font-family: "museo-sans", sans-serif;
  font-size: 18px;
  color: #bd1857;
  background-color: white;
  border: 0;
  padding: 15px;
  margin: 0 15px 15px 0;
  box-shadow: 4px 4px #bd1857; }

.btn-inverse {
  background-color: #bd1857;
  color: white;
  box-shadow: 4px 4px white; }

.btn-lg {
  padding: 25px; }

/**
 * @file
 * Nav-toggle styles.
 */
.nav-toggle {
  display: block;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 0; }
  .nav-toggle .label {
    display: none; }
  .nav-toggle .bars {
    border-radius: 2px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 1; }
    .nav-toggle .bars span.bar {
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      transform-origin: 50% 50%; }
      .nav-toggle .bars span.bar:nth-child(1) {
        border: 4px solid #bd1857;
        border-radius: 2px;
        position: absolute;
        display: block;
        left: 0;
        top: -12px; }
      .nav-toggle .bars span.bar:nth-child(2) {
        border-radius: 2px;
        height: 4px;
        width: 16px;
        left: 0;
        top: 6px;
        position: absolute;
        background: #bd1857;
        box-sizing: content-box; }
      .nav-toggle .bars span.bar:nth-child(3) {
        width: 16px;
        height: 16px;
        border: 4px solid #bd1857;
        border-radius: 3px;
        position: absolute;
        display: block;
        left: 0;
        bottom: -12px; }
  @media screen and (min-width: 640px) {
    .nav-toggle {
      display: block;
      background-color: white;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      font-size: 0; }
      .nav-toggle .label {
        display: none; }
      .nav-toggle .bars {
        border-radius: 3.5px;
        width: 29px;
        height: 29px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        z-index: 1; }
        .nav-toggle .bars span.bar {
          width: 29px;
          height: 29px;
          box-sizing: border-box;
          transform-origin: 50% 50%; }
          .nav-toggle .bars span.bar:nth-child(1) {
            border: 7px solid #bd1857;
            border-radius: 3.5px;
            position: absolute;
            display: block;
            left: 0;
            top: -22px; }
          .nav-toggle .bars span.bar:nth-child(2) {
            border-radius: 3.5px;
            height: 7px;
            width: 29px;
            left: 0;
            top: 11px;
            position: absolute;
            background: #bd1857;
            box-sizing: content-box; }
          .nav-toggle .bars span.bar:nth-child(3) {
            width: 29px;
            height: 29px;
            border: 7px solid #bd1857;
            border-radius: 3px;
            position: absolute;
            display: block;
            left: 0;
            bottom: -22px; } }

/**
 * @file
 * Icons.
 */
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain; }
  .icon::after {
    content: none; }

@media screen and (min-width: 640px) {
  .icon {
    width: 48px;
    height: 48px; } }

.icon-github {
  background-image: url("../bitmap/github.png"); }

.icon-twitter {
  background-image: url("../bitmap/twitter.png"); }

.icon-linkedin {
  background-image: url("../bitmap/linkedin.png"); }

/**
 * @file
 * Toolbar menu.
 */
.toolbar-bar li {
  margin: 0; }

.toolbar-bar a {
  font-size: .8125rem; }
  .toolbar-bar a::after {
    content: none; }

/**
 * @field
 * Field.
 */
.field-label-inline .field-label,
.field-label-inline .field-items,
.field-label-inline .field-item {
  display: inline; }

.field-name-field-tags.field-label-inline .field-item::after {
  content: ','; }

.field-name-field-tags.field-label-inline .field-item:last-child::after {
  content: none; }

/**
 * @file
 * Forms.
 */
.form-item {
  margin: 25px 0;
  padding: 0;
  border: 0; }

/* State. */
/**
 * @file
 * Nav.
 */
.nav-main a {
  text-shadow: 4px 4px black;
  transition: text-shadow .25s ease-in-out, transform .25s ease-in-out; }
  .nav-main a:hover, .nav-main a.active {
    text-shadow: 6px 6px black;
    transform: translate(-2px, -2px); }

/**
 * @file
 * Nav-toggle states.
 */
.nav-toggle {
  transition: transform .25s ease;
  transform: scale(0.94118); }
  .nav-toggle .bar {
    transition: transform .5s ease; }
  .nav-toggle:focus {
    outline: 0; }
  .nav-toggle:hover {
    transform: scale(1); }

/**
 * @file
 * Buttons.
 */
.nav-local-tasks ul > li > a, .btn {
  transition: color .25s ease-in-out, background-color .25s ease-in-out; }
  .nav-local-tasks ul > li > a:hover, .btn:hover {
    color: black;
    background-color: #bd1857; }

.btn-inverse:hover {
  color: black;
  background-color: white; }
