/**
 * @file
 * Styles.
 */
/**
 * @file
 * Variables etc.
 */
/**
 * @file
 * Zen Grids.
 */
/**
 * @file
 * Base.
 */
html {
  height: 100%;
  font-size: 18px;
  font-family: "museo-sans", sans-serif; }

body {
  background-color: #090423;
  min-height: 100%;
  line-height: 1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: white; }

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3.94rem;
  text-shadow: 4px 4px #bd1857;
  margin-top: 0; }

h2 {
  font-family: "museo-sans", sans-serif;
  font-size: 1.33rem;
  font-weight: normal; }

h3 {
  font-family: "museo-sans", sans-serif;
  font-size: 1.11rem;
  font-weight: normal; }
  h3 > a {
    text-decoration: underline;
    text-decoration-skip-ink: none; }
    h3 > a:hover {
      text-decoration: none; }
    h3 > a::after {
      content: none; }

a {
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none; }
  a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #bd1857; }
  a:hover::after {
    background-color: transparent; }

figure {
  max-width: 100%;
  margin: 25px 50px 40px -75%;
  float: left; }
  figure img {
    max-width: 100%; }
  figure figcaption {
    font-size: 0.77rem; }

p {
  margin: 25px 0; }

li {
  font-size: 1rem;
  margin: 25px 0; }

blockquote {
  margin: 25px 0;
  padding: 0 50px;
  border-left: 5px solid white;
  font-size: 0.77rem; }
  blockquote > footer::before {
    content: '\2014 \00A0'; }

fieldset {
  margin: 25px 0;
  padding: 0;
  border: 0; }

input,
textarea,
button {
  font-family: "museo-sans", sans-serif;
  font-size: 18px;
  color: #bd1857;
  background-color: white;
  border: 0; }

input,
textarea {
  padding: 10px;
  box-shadow: 4px 4px #bd1857; }

input[type='text'], input[type='email'], input[type='tel'] {
  width: 50%; }

input[type='url'] {
  width: 75%; }

textarea {
  width: 100%; }

address {
  font-style: normal;
  margin: 0;
  font-weight: bold; }

/**
 * @file
 * Layout.
 */
.layout-toggle {
  position: fixed;
  top: 50px;
  right: 50px; }

.layout-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; }

.layout-page {
  max-width: 1438px;
  margin: 0 auto; }

.layout-front-content {
  padding-top: 180px; }
  .layout-front-content:before {
    content: "";
    display: table; }
  .layout-front-content:after {
    content: "";
    display: table;
    clear: both; }
  .layout-front-content .layout-content {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    text-align: center; }

.layout-secondary-content {
  padding-top: 180px; }
  .layout-secondary-content:before {
    content: "";
    display: table; }
  .layout-secondary-content:after {
    content: "";
    display: table;
    clear: both; }
  .layout-secondary-content .layout-content-first {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    text-align: right; }
  .layout-secondary-content .layout-content-second {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box; }

.layout-brand {
  position: fixed;
  top: 50px;
  left: 50px; }

.layout-footer {
  position: fixed;
  bottom: 50px;
  left: 50px;
  right: 50px;
  pointer-events: none; }

.layout-ui-top {
  z-index: 11; }

.layout-ui {
  z-index: 10; }

.layout-ui-bottom {
  z-index: 9; }

.layout-bg {
  z-index: -1; }

/**
 * @file
 * Figure.
 */
/**
 * @file
 * Lead.
 */
.lead {
  font-size: 1.33rem; }

.hidden {
  display: none; }

.root {
  position: relative; }

/**
 * @file
 * Heading.
 */
h1.secondary {
  font-size: 3.33rem; }

/**
 * @file
 * Brand.scss
 */
.brand {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin-right: -2px; }

/**
 * @file
 * Bg style.
 */
.bg-highlight {
  fill: #bd1857; }

.bg-shadow {
  fill: black; }

/**
 * @file
 * Article styles.
 */
.article-list {
  margin: 80px 50px; }
  .article-list > header {
    margin: 0 0 40px; }
  .article-list > footer {
    margin: 40px 0 0; }
    .article-list > footer a {
      font-size: 1rem; }

.article-teaser {
  margin-bottom: 40px;
  /*

  .content {
    p:first-child {
      margin-top: 10px;
    }
  }
  */ }
  .article-teaser-header, .article-teaser-main, .article-teaser-footer {
    margin: 25px 0; }
  .article-teaser-footer {
    font-size: 0.77rem;
    /*
    p,
    .field {
      margin: 5px 0;

      div {
        display: inline;
      }
    }

    a,
    .field__item {
      font-weight: bold;

      &::after {
        content: none;
      }
    }

    .field--name-field-tags {
      .field__item {

        &::after {
          content: ',';
          margin-left: -2px;
        }

        &:last-child::after {
          content: none;
        }
      }
    }
    */ }

/**
 * @file
 * Page styles.
 */
.page-preface {
  font-size: 0.77rem; }
  .page-preface a {
    font-weight: bold; }
    .page-preface a::after {
      content: none; }
  .page-preface .field {
    margin: 5px 0; }
    .page-preface .field.field-label-inline .field-label {
      display: inline; }
  .page-preface .field-name-field-tags .field-item::after {
    content: ','; }
  .page-preface .field-name-field-tags .field-item:last-child::after {
    content: none; }

.page-main p:first-child {
  margin-top: 10px; }

/**
 * @file
 * List styles.
 */
.nav ul,
.nav ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .nav ul li, .nav ol li {
    margin: 0;
    padding: 0; }

.nav-breadcrumb ol, .nav-page ul, .nav-social ul {
  font-size: 0; }
  .nav-breadcrumb ol li, .nav-page ul li, .nav-social ul li {
    font-size: 1rem;
    display: inline-block; }

/**
 * @file
 * Navs.
 */
.nav ul,
.nav ol {
  pointer-events: all; }

.nav-breadcrumb {
  display: inline-block; }
  .nav-breadcrumb ol > li {
    vertical-align: baseline;
    font-size: .77rem;
    margin-left: 10px; }
    .nav-breadcrumb ol > li a::after {
      content: none; }
    .nav-breadcrumb ol > li::before {
      content: '>';
      margin-right: 10px; }

.nav-main {
  -webkit-clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%);
  background-color: #bd1857; }
  .nav-main ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    .nav-main ul li {
      line-height: 1.2; }
      .nav-main ul li a {
        font-size: 2.66rem;
        font-family: "Shrikhand", cursive; }

.nav-page ul li {
  margin: 0 22px; }
  .nav-page ul li a {
    font-family: "Shrikhand", cursive;
    font-size: 1.33rem; }
    .nav-page ul li a::after {
      bottom: 0;
      height: 4px; }
  .nav-page ul li:first-child {
    margin-left: 0; }
  .nav-page ul li:last-child {
    margin-right: 0; }

.nav-social ul {
  display: inline-block; }
  .nav-social ul li {
    margin: 0 12px; }
    .nav-social ul li:first-child {
      margin-left: 0; }
    .nav-social ul li:last-child {
      margin-right: 0; }

/**
 * @file
 * Nav toggle button.
 */
button.nav-toggle {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer; }

button.nav-toggle {
  display: block;
  background-color: white;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  font-size: 0; }
  button.nav-toggle .label {
    display: none; }
  button.nav-toggle .bars {
    border-radius: 3.5px;
    width: 29px;
    height: 29px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    z-index: 1; }
    button.nav-toggle .bars span.bar {
      width: 29px;
      height: 29px;
      box-sizing: border-box; }
      button.nav-toggle .bars span.bar:nth-child(1) {
        border: 7px solid #bd1857;
        border-radius: 3.5px;
        position: absolute;
        display: block;
        left: 0;
        top: -22px; }
      button.nav-toggle .bars span.bar:nth-child(2) {
        border-radius: 3.5px;
        height: 7px;
        width: 29px;
        left: 0;
        top: 11px;
        position: absolute;
        background: #bd1857;
        box-sizing: content-box; }
      button.nav-toggle .bars span.bar:nth-child(3) {
        width: 29px;
        height: 29px;
        border: 7px solid #bd1857;
        border-radius: 3px;
        position: absolute;
        display: block;
        left: 0;
        bottom: -22px; }

button.default {
  background-color: #bd1857;
  color: white;
  outline: none;
  border: 0;
  padding: 25px;
  box-shadow: 4px 4px white; }

/**
 * @file
 * Icons.
 */
.icon-github, .icon-twitter, .icon-linkedin {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat; }
  .icon-github::after, .icon-twitter::after, .icon-linkedin::after {
    content: none; }

.icon-github {
  background-image: url("../bitmap/github.png"); }

.icon-twitter {
  background-image: url("../bitmap/twitter.png"); }

.icon-linkedin {
  background-image: url("../bitmap/linkedin.png"); }

/**
 * @file
 * Toolbar menu.
 */
.toolbar-menu li {
  margin: 0; }
  .toolbar-menu li a {
    font-size: .8125rem; }
    .toolbar-menu li a::after {
      content: none; }

/**
 * @file
 * Nav.
 */
.nav-main a {
  text-shadow: 4px 4px black;
  transition: text-shadow .25s ease-in-out, transform .25s ease-in-out; }
  .nav-main a:hover, .nav-main a.active {
    text-shadow: 6px 6px black;
    transform: translate(-2px, -2px); }

/**
 * @file
 * Buttons.
 */
button.nav-toggle {
  transition: transform .25s ease;
  transform: scale(0.94118); }
  button.nav-toggle .bar {
    transition: transform .5s ease; }
  button.nav-toggle:focus {
    outline: 0; }
  button.nav-toggle:hover {
    transform: scale(1); }

button.default {
  transition: color .25s ease-in-out, background-color .25s ease-in-out; }
  button.default:hover {
    color: black;
    background-color: white; }
