/**
 * @file
 * Base.
 */

html {
  height: 100%;
  font-size: $font-size-small;
  font-family: $font-family-sans-serif;
}

@include breakpoint-min($screen-md-min) {
  html {
    font-size: $font-size-base;
  }
}

body {
  background-color: $body-bg-color;
  min-height: 100%;
  line-height: $body-line-height;
  margin: 0 0 40px 0;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
}

@include breakpoint-min($screen-md-min) {
  body {
    margin: 0 0 120px 0;
  }
}

h1 {
  font-family: $font-family-serif;
  font-size: 1.5rem;
  text-shadow: 4px 4px $color-pink;
  margin-top: 0;
}

@include breakpoint-min($screen-md-min) {
  h1 {
    font-family: $font-family-serif;
    font-size: $font-size-h1;
    text-shadow: 4px 4px $color-pink;
    margin-top: 0;
  }
}

h2 {
  font-family: $font-family-sans-serif;
  font-size: $font-size-h2;
  font-weight: normal;
}

// sass-lint:disable no-misspelled-properties
h3 {
  font-family: $font-family-sans-serif;
  font-size: $font-size-h3;
  font-weight: normal;

  > a {
    text-decoration: underline;
    text-decoration-skip-ink: none;

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: none;
    }
  }
}

a {
  color: white;
  display: inline-block;
  position: relative;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-pink;
  }

  &:hover {
    &::after {
      background-color: transparent;
    }
  }
}

figure {
  max-width: 100%;
  margin: $layout-vpad-small $layout-hpad-base $layout-vpad-base -75%;
  float: left;

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: $font-size-6;
  }
}

p {
  margin: $layout-vpad-small 0;
}

li {
  font-size: $font-size-5;
  margin: $layout-vpad-small 0;
}

blockquote {
  margin: $layout-vpad-small 0;
  padding: 0 $layout-hpad-small;
  border-left: 5px solid white;
  font-size: $font-size-5;

  > footer {
    &::before {
      content: '\2014 \00A0';
    }
  }
}

@include breakpoint-min($screen-md-min) {
  blockquote {
    margin: $layout-vpad-small 0;
    padding: 0 $layout-hpad-base;
    border-left: 5px solid white;
    font-size: $font-size-6;
  }
}

fieldset {
  margin: $layout-vpad-small 0;
  padding: 0;
  border: 0;
}

input,
textarea,
button {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $color-pink;
  background-color: white;
  border: 0;
}

input,
textarea {
  padding: $layout-vpad-xsmall;
  box-shadow: 4px 4px $color-pink;
}

input {
  &[type='text'],
  &[type='email'],
  &[type='tel'] {
    width: 50%;
  }

  &[type='url'] {
    width: 75%;
  }
}

textarea {
  width: 100%;
}

address {
  font-style: normal;
  margin: 0;
  font-weight: bold;
}
