{#
/**
 * @file
 * Article teaser template.
 */
#}
<div class="page-article-teaser article-teaser">
  <div class="article-teaser-header">
    {{ content.head }}
  </div>
  <div class="article-teaser-main">
    {{ content.main }}
  </div>
  <div class="article-teaser-footer">
    {{ content.meta }}
  </div>
</div >
