{#
/**
 * @file
 * Article default template.
 */
#}

<div class="page layout-container layout-secondary-content">
  <article>
    <div class="content layout-content-first">
      {{ page.content_head }}
    </div>
    <div class="content layout-content-second">
      <div class="meta">
        {{ content.meta }}
      </div>
      {{ content.main }}
      {{ page.content }}
    </div>
  </article>
</div>
