{#
/**
 * @file
 * 2 column layout.
 */
#}

<div class="page container layout-outer-wrapper columns is-centered is-mobile">
  <div class="column is-two-thirds">
    <div class="page-title">
      {{ content.title }}
    </div>
    <div class="page-preface">
      {{ content.preface }}
    </div>
    <div class="page-main">
      {{ content.main }}
    </div>
    <div class="page-secondary">
      {{ content.secondary }}
    </div>
  </div>
</div>
