{#
/**
 * @file
 * 2 column layout.
 */
#}

<div class="page page-wrapper layout-secondary-content">
  <div class="content layout-content-first">
    <div class="page-title">
      {{ content.title }}
    </div>
    <div class="page-secondary">
      {{ content.secondary }}
    </div>
  </div>
  <div class="content layout-content-second">
    <div class="page-preface">
      {{ content.preface }}
    </div>
    <div class="page-main">
      {{ content.main }}
    </div>
  </div>
</div>
