{#
/**
 * @file
 * 2 column layout.
 */
#}

<div class="page page-columns-2 layout-container layout-outer-wrapper layout-cols-2">
  <div class="content layout-col">
    <div class="page-title">
      {{ content.title }}
    </div>
    {% if content.secondary|render|striptags|trim %}
    <div class="page-secondary">
      {{ content.secondary }}
    </div>
    {% endif %}
  </div>
  <div class="content layout-col">
    {% if content.preface|render|striptags|trim %}
    <div class="page-preface">
      {{ content.preface }}
    </div>
    {% endif %}
    {% if content.main|render|striptags|trim %}
    <div class="page-main">
      {{ content.main }}
    </div>
    {% endif %}
  </div>
</div>
