{#
/**
 * @file
 * 2 column layout.
 */
#}

<div class="page layout-container layout-outer-wrapper">
  <div class="content layout-col-double text-right-md">
    <div class="page-title">
      {{ content.title }}
    </div>
    <div class="page-secondary">
      {{ content.secondary }}
    </div>
  </div>
  <div class="content layout-col-double">
    <div class="page-preface">
      {{ content.preface }}
    </div>
    <div class="page-main">
      {{ content.main }}
    </div>
  </div>
</div>
