{#
/**
 * @file
 * 2 column layout.
 */
#}

<div class="skillset clearfix text-center">
  <div class="skillset-copy">
    {{ content.title }}
    {{ content.summary }}
  </div>
  <div class="skillset-values clearfix">

    <div class="skillset-value">
      {% for i in 1..depth %}
        <div class="skillset-value-unit" style="width: {{depth_unit_css}};"></div>
      {% endfor %}
    </div>

    <div class="skillset-value">
      {% for i in 1..length %}
        <div class="skillset-value-unit" style="width: {{length_unit_css}};"></div>
      {% endfor %}
    </div>
  </div>
</div>
