/**
 * @file
 * Article styles.
 */

.article-list {
  margin: $layout-vpad-base 0;

  > header {
    margin: 0 0 $layout-vpad-small;
  }

  > footer {
    margin: $layout-vpad-base 0 0;

    a {
      font-size: $size-4;
    }
  }
}

@include breakpoint-min($screen-sm-min) {
  .article-list {
    margin: 0 0 $layout-vpad-base;

    > header {
      margin: 0 0 $layout-vpad-base;
    }
  }
}

@include breakpoint-min($screen-md-min) {
  .article-list {
    > header {
      margin: 0 0 $layout-vpad-base;
    }
  }
}

.article-teaser {
  margin-bottom: $layout-vpad-base;

  &-header,
  &-main,
  &-footer {
    margin: $layout-vpad-xsmall 0;
  }

  &-header {
    a {
      font-weight: normal;
    }
  }

  &-footer {
    font-size: $size-5;
  }
}

@breakpoint-min($screen-sm-min) {
  .article-teaser {
    &-header,
    &-main,
    &-footer {
      margin: $layout-vpad-small 0;
    }
  }
}
