/**
 * @file
 * Article styles.
 */

.article-list {
  margin: $layout-vpad-large ($layout-gutter-width/2);

  > header {
    margin: 0 0 $layout-vpad-base;
  }

  > footer {
    margin: $layout-vpad-base 0 0;

    a {
      font-size: $font-size-h4;
    }
  }

  article {
    margin-bottom: $layout-vpad-base;
  }
}

article {
  .meta {
    font-size: $font-size-h5;

    p,
    .field {
      margin: 5px 0;

      div {
        display: inline;
      }
    }

    a,
    .field__item {
      font-weight: bold;

      &::after {
        content: none;
      }
    }

    .field--name-field-tags {
      .field__item {

        &::after {
          content: ',';
          margin-left: -2px;
        }

        &:last-child::after {
          content: none;
        }
      }
    }
  }

  .content {
    p:first-child {
      margin-top: 10px;
    }
  }
}
