/**
 * @file
 * Bg style.
 */

.bg-shadow.bg-left {
  display: none;
}

@include breakpoint-min($screen-md-min) {
  .bg-highlight {
    fill: $color-pink;
  }

  .bg-shadow {
    fill: black;
    display: inline;
  }
}
