/**
 * @file
 * Icons.
 */

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;

  &::after {
    content: none;
  }
}

@include breakpoint-min($screen-md-min) {
  .icon {
    width: 48px;
    height: 48px;
  }
}

.icon-github {
  background-image: url($assets-path + '/bitmap/github.png');
}

.icon-twitter {
  background-image: url($assets-path + '/bitmap/twitter.png');
}

.icon-linkedin {
  background-image: url($assets-path + '/bitmap/linkedin.png');
}
