/**
 * @file
 * Navs.
 */

.nav {
  ul,
  ol {
    @extend %list-reset;
    pointer-events: all;
  }
}

.nav-breadcrumb {
  display: inline-block;

  ol {
    @extend %list-inline;

    > li {
      vertical-align: baseline;
      font-size: .77rem;
      margin-left: 10px;

      a {
        &::after {
          content: none;
        }
      }

      &::before {
        content: '>';
        margin-right: 10px;
      }
    }
  }
}

.nav-main {
  ul {
    text-align: center;

    li {
      line-height: 1.2;
      margin: $layout-vpad-xxsmall 0;

      a {
        font-size: $size-4;
        font-family: $font-family-serif;
      }
    }
  }

  @include tablet {
    ul li {
      margin: $layout-vpad-xsmall 0;
      a {
        font-size: $size-2;
      }
    }
  }

  @include desktop {
    ul li {
      margin: $layout-vpad-xsmall 0;
      a {
        font-size: $size-1;
      }
    }
  }
}

.nav-page {
  ul {
    text-align: center;

    li {
      margin: 0 10px;

      a {
        font-family: $font-family-serif;
        font-size: $size-4;

        &::after {
          bottom: 0;
          height: 4px;
        }
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include breakpoint-min($screen-sm-min) {
  .nav-page {
    margin: $layout-vpad-small 0;

    ul {
      font-size: 0;

      li {
        margin: 0 22px;
        font-size: 1rem;
        display: inline-block;

        a {
          font-size: $size-2;
        }
      }
    }
  }
}

.nav-social {
  text-align: center;
  margin: $layout-vpad-small 0 0;

  ul {
    @extend %list-inline;
    display: inline-block;

    li {
      margin: 0 6px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include tablet {
    text-align: left;
    margin: 0;

    ul {
      li {
        margin: 0 12px;
      }
    }
  }
}

.nav-local-tasks {
  ul {
    @extend %list-inline;
    display: inline-block;

    > li {
      > a {
        @extend %btn;

        &::after {
          content: none;
        }
      }
    }
  }
}

.nav-pagination {
  ul {
    @extend %list-inline;

    li {
      font-size: $size-7;
    }

    a {
      &::after {
        content: none;
      }
    }

    .is-active a {
      color: $color-pink;
    }

    .pager-item-page {
      &::after {
        content: '| ';
        margin-right: .12rem;
      }
    }
  }

}
