/**
 * @file
 * Navs.
 */

.nav {
  ul,
  ol {
    @extend %list-reset;
    pointer-events: all;
  }
}

.nav-breadcrumb {
  display: inline-block;

  ol {
    @extend %list-inline;

    > li {
      vertical-align: baseline;
      font-size: .77rem;
      margin-left: 10px;

      a {
        &::after {
          content: none;
        }
      }

      &::before {
        content: '>';
        margin-right: 10px;
      }
    }
  }
}

.nav-main {
  clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);
  background-color: $color-pink;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    li {
      line-height: 1.2;
      margin: $layout-vpad-xsmall 0;

      a {
        font-size: $font-size-2;
        font-family: $font-family-serif;
      }
    }
  }
}

@include breakpoint-min($screen-sm-min) {
  .nav-main {
    clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%);
  }
}

.nav-page {
  ul {

    li {
      margin: 0 10px;

      a {
        font-family: $font-family-serif;
        font-size: $font-size-h4;

        &::after {
          bottom: 0;
          height: 4px;
        }
      }
    }
  }
}

@include breakpoint-min($screen-sm-min) {
  .nav-page {
    margin: $layout-vpad-small 0;

    ul {
      font-size: 0;

      li {
        margin: 0 22px;
        font-size: 1rem;
        display: inline-block;

        a {
          font-size: $font-size-h2;
        }
      }
    }
  }
}

.nav-social {
  ul {
    @extend %list-inline;
    display: inline-block;

    li {
      margin: 0 6px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@include breakpoint-min($screen-sm-min) {
  .nav-social {
    ul {
      li {
        margin: 0 12px;
      }
    }
  }
}

.nav-local-tasks {
  ul {
    @extend %list-inline;
    display: inline-block;

    > li {
      > a {
        @extend %btn;

        &::after {
          content: none;
        }
      }
    }
  }
}
