/**
 * @file
 * Page styles.
 */

.page {
  &-title {
    text-align: center;
  }

  &-preface {
    text-align: center;
    font-size: $size-8;

    .field {
      margin: 5px 0;
    }

    @include tablet {
      font-size: $size-7;
    }
  }

  &-nav-wrapper {
    display: none;
    background-color: $color-pink;
  }
}

html.cssmask {
  .page-nav-wrapper {
    display: block;
    clip-path: polygon(0% 0%, 2% 0%, 2% 100%, 0% 100%);

    @include desktop {
      clip-path: polygon(0% 0%, 9.89% 0%, 16.51% 100%, 0% 100%);
    }
  }
}
