/**
 * @file
 * Ripple.
 */

@keyframes ripple {
  from {
    width: 10px;
    height: 10px;
    opacity: .3;
  }
  to {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.ripple {
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 50%;
  display: block;
  animation-name: ripple;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
