/**
 * @file
 * Skillsets.
 */

.skillset {
  position: relative;
  margin-bottom: 1px;

  &-copy {
    padding: $layout-vpad-xsmall 0;
    position: relative;
    z-index: 2;

    h3 {
      margin: 0;
    }
  }

  &-values{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &-value {
    float: left;
    height: 100%;
    width: 50%;
    position: relative;

    &-unit {
      height: 100%;
      overflow: hidden;
      text-indent: -999em;
      text-align: left;
      min-height: 70px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
      }
    }

    &:first-child {
      .skillset-value-unit {
        float: right;
        background-color: $color-red-muted;

        &::after {
          left: 0;
          background-color: $color-red-highlight;
        }
      }
    }

    &:last-child {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        left: 0;
        background-color: $color-pink-highlight;
        z-index: 1;
      }

      .skillset-value-unit {
        float: left;
        background-color: $color-pink;

        &::after {
          right: 0;
          background-color: $color-pink-highlight;
        }
      }
    }
  }
}
