/**
 * @file
 * Typography.
 */

.lead {
  font-size: $size-6;

  @include fullhd {
    font-size: $size-5;
  }
}

.text-center {
  text-align: center;
}

.text-center-max-md {
  @include breakpoint-max($screen-md-min - 1) {
    text-align: center;
  }
}

.text-center-max-lg {
  @include breakpoint-max($screen-lg-min - 1) {
    text-align: center;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-right-min-md {
  @include breakpoint-min($screen-md-min) {
    text-align: right;
  }
}

.text-right-min-lg {
  @include breakpoint-min($screen-lg-min) {
    text-align: right;
  }
}

.field-type-text-with-summary {
  a {
    display: inline;
    text-decoration: underline;
    text-decoration-color: $color-pink;

    &:hover {
      text-decoration: none;
    }

    &::after {
      content: none;
    }
  }
}
