/**
 * @file
 * Nav-toggle mixins
 */

/* Generate styles for a set of toggle bars. */
@mixin nav-toggle-bar($width, $border-width, $border-radius) {
  width: $width;
  height: $width;
  box-sizing: border-box;
  transform-origin: 50% 50%;

  &:nth-child(1) {
    border: $border-width solid $color-pink;
    border-radius: $border-radius;
    position: absolute;
    display: block;
    left: 0;
    top: -($width - $border-width);
  }

  &:nth-child(2) {
    border-radius: $border-radius;
    height: $border-width;
    width: $width;
    left: 0;
    top: ($width / 2) - ($border-width / 2);
    position: absolute;
    background:  $color-pink;
    box-sizing: content-box;
  }

  &:nth-child(3) {
    width: $width;
    height: $width;
    border: $border-width solid $color-pink;
    border-radius: 3px;
    position: absolute;
    display: block;
    left: 0;
    bottom: -($width - $border-width);
  }
}

@mixin nav-toggle-bars($width, $border-width, $border-radius) {
  border-radius: $border-radius;
  width: $width;
  height: $width;
  overflow: hidden;
  position: relative;
  display: inline-block;
  z-index: 1; // Avoid chrome no border-radius clipping on transition bug
}

@mixin nav-toggle-button($diameter) {
  display: block;
  background-color: white;
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  font-size: 0;

  .label {
    display: none;
  }
}

@mixin nav-toggle($button-diameter, $bar-width, $bar-border-width, $bar-border-radius) {
  @include nav-toggle-button($button-diameter);

  .bars {
    @include nav-toggle-bars($bar-width, $bar-border-width, $bar-border-radius);

    span.bar {
      @include nav-toggle-bar($bar-width, $bar-border-width, $bar-border-radius);
    }
  }
}
